@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  padding: 30px 0px 30px 0px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e5eaf1;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
